footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 3.75rem;
}
.bookstore-footer-home-bg{
    background: #EEF8FD;
}

.bookstore-footer-others-bg{
    background: #D6F3FF;
}

.links,
.copyright {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 4rem;
}

.links{
    gap: 2.3rem;
    justify-content: flex-start;
}

.links label{
    cursor: pointer;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #1C0461;
}

.links a{
    display:flex;
    text-decoration: none;
    color: #1C0461;
    cursor: pointer;
    gap: 0.7rem;
}

.copyright label{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #1C0461;
}

.copyright{
    gap:0.3rem;
    justify-content: center;
}

.social-media-icons{
    display: flex;
    justify-content: flex-end;
    padding-right: 4rem;
    gap: 0.8rem;
    align-items: center;
}

.social-media-icons a{
    cursor:pointer;
}

