.cart-page{
    min-height: 86vh;
}
.cart-table {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr 0.5fr 0.5fr;
    row-gap: 1em;
    background-color: snow;
    margin: 1rem 12rem;
}

ul {
    display: contents;
}

ul > li {
    display: contents;
}

.table-heading {
    background-color: #333;
    color: white;
}

.table-heading > * {
    background-color: #E2E5E6;
    padding: 1em;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #1C0461;

}

.heading-book {
    grid-column: 1 / 3;
    padding-left: 7.2rem;

}

.heading-price {
    grid-column: 3;
    text-align: right;
    padding-right: 1.25rem;
}

.heading-quantity{
    text-align: center;
}

.heading-subtotal {
    text-align: right;
    grid-column: -2 / -1;
    padding-right: 2rem;
}

.cart-book-image {
    padding: 0 1em;
}

.cart-book-image > * {
    margin-left: auto;
    margin-right: 0;
}

.cart2 img {
    display: block;
    width: 100px;
    height: 100px;
}

.rect {
    background-color: var(--primary-color-dark);
}

.narrow-rect {
    width: 75px;
    height: 100px;
}

.square {
    width: 100px;
    height: 100px;
}

.wide-rect {
    width: 125px;
    height: 100px;
}

.cart-book-price {
    padding-left: 1em;
    text-align: right;
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 0.01em;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cart-book-quantity {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
}

.cart-book-subtotal {
    padding-right: 2rem;
    padding-left: 1em;
    text-align: right;
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 0.01em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Row separators in the table */

.line-sep {
    display: block;
    height: 2px;
    background-color: #E2E5E6;
    grid-column: 1 / -1;
}

/* Increment/decrement buttons */

.icon-button {
    border: none;
    cursor: pointer;
    background-color: snow;
}

.inc-button {
    font-size: 1.125rem;
    color: var(--primary-color);
    margin-right: 0.25em;
}

.inc-button:hover {
    color: var(--primary-color-dark);
}

.dec-button {
    font-size: 1.125rem;
    color: #ccc;
}

.dec-button:hover {
    color: #aaa;
}

/* Chevron buttons */

.dec-arrow-button,
.inc-arrow-button {
    font-size: 1rem;
    color: var(--primary-color);
}

.dec-arrow-button:hover,
.inc-arrow-button:hover {
    color: var(--primary-color-dark);
}

input[type="number"] {
    width: 4em;
}

select {
    background-color: var(--primary-color);
    color: white;
    border: 2px solid var(--primary-color-dark);
    border-radius: 3px;
}
.row-line {
    border-bottom: 1px solid black;
}

.cart-book-title {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 33px;
    letter-spacing: 0.01em;
    color: #000000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cart-count {
    height: 81px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    /* text-align: center; */
    justify-content: center;
}

.continue-shopping-button,.proceed-to-checkout-button{
    box-sizing: border-box;
    width: 11.938rem;
    height: 2.666rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.proceed-to-checkout-button{
    background: #6495ED;
    border: 1.5px solid #6495ED;
    color:ivory;
}
.continue-shopping-button {
    background: #EDB264;
    border: 1.5px solid #EDB264;
    color: #1C0461;
}

.continue-shopping-text,.proceed-to-checkout-text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.01em;
    /*color: #1C0461;*/
    cursor:pointer;
}


.proceed-to-checkout-button:hover {
    background: #4169E1 ;
    border: 1.5px solid #4169E1;
}
.continue-shopping-button:hover{
    background: #FFD699;
    border: 1.5px solid #FFD699;
}


.cart-call-to-action-buttons {
    display: flex;
    justify-content: center;
    gap: 24rem;
}
span.quantity {
    display: flex;
    align-items: center;
}

.subtotal-label {
    padding-top: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    justify-content: flex-end;
    margin-right: 12rem;
}

.clear-cart-button {
    box-sizing: border-box;
    width: 11.938rem;
    height: 2.666rem;
    background: snow;
    border: 2px solid #4169E1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #4169E1;
    cursor: pointer;
}

.clear-cart-button:hover {
    color: #FF0000;
    border: 2px solid #FF0000;
}

.empty-cart-image img {
    width: 45rem;
}

.empty-cart-image {
     display: flex;
     justify-content: center;
}

.empty-cart-title{
    margin-top: -1rem;
    font-family: 'Alegreya';
    font-style: normal;
    font-size: 40px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    justify-content: center;
    color:#1C0461;
}

.empty-cart-descrption {
    display: flex;
    justify-content: center;
    padding-top: 1.25rem;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Alegreya Sans';
}

.return-to-shop {
    display: flex;
    justify-content: center;
    padding-top: 1.25rem;
}

.clear-cart {
    display: flex;
    justify-content: flex-start;
    margin-left: 12rem;
    padding-bottom: 1rem;
}